<div class="container">
  <div class="row justify-content-md-center mt-4">
      <div class="col col-lg-10">
          <div class="card">
            <div class="card-body">
              <h1 class='display-6 mb-4'>Editing results:</h1>
              <%= render 'form', appointment: @appointment %>
            </div>
          </div>
      </div>
  </div>
</div>