<div class="container">
  <h1 class='display-6 my-4'>Reports</h1>
  <div class="row row-deck row-cards my-4">
      <div class="col-md-12 col-lg-6">
        <div class="card">
          <div class="ribbon ribbon-top bg-yellow"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
              <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
              <path d="M15 3v4"></path>
              <path d="M7 3v4"></path>
              <path d="M3 11h16"></path>
              <path d="M18 16.496v1.504l1 1"></path>
            </svg>
          </div>
          <div class="card-body">
            <h3 class="card-title">Appointments</h3>
            <span>
              <div class="badge bg-yellow">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                  <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                  <path d="M15 3v4"></path>
                  <path d="M7 3v4"></path>
                  <path d="M3 11h16"></path>
                  <path d="M18 16.496v1.504l1 1"></path>
                </svg>
              </div>
            </span>
            <span>
              <b class='h3'>Total appointments: </b><%=Appointment.active.count %>
            </span>
            
            <div class="card my-4 mb-xl-0 border-0" style="background-color:#FAFAD2 ;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-muted mb-0">This month's appointments</h5>
                      <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      </div>
                    </div>
                  </div>
                  
                  <div class="me-auto mt-2">
                    <span class="text-green d-inline-flex align-items-center lh-1">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 17l6 -6l4 4l8 -8"></path><path d="M14 7l7 0l0 7"></path></svg>
                      8% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                    </span>
                    <span class="d-inline-flex align-items-center lh-1">
                      from last month
                    </span>
                  </div>
            
                  <div class="mt-4">
                    <%= simple_form_for :search, remote: true, url: appointments_path, method: :get do |f| %>
                      <div class="row">
                        <%= f.input :companies, collection: ['All data', 'Appointment by type', 'Appointment by doctor'], html5: true, label: 'Report type', hint: 'Please choose the desired report type' %>
                        <%= f.button :submit, 'Generate report', class:'btn btn-primary mt-4' %>
                      </div>
                    <% end %>
                  </div>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 col-lg-6">
        <div class="card">
          <div class="ribbon ribbon-top bg-green"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
          </div>
          <div class="card-body">
            <h3 class="card-title">Procedures</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consectetur culpa ducimus eum fuga fugiat, ipsa iusto, modi nostrum recusandae reiciendis saepe.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 col-lg-6">
        <div class="card">
          <div class="ribbon ribbon-top bg-blue"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
          </div>
          <div class="card-body">
            <h3 class="card-title">Payments</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consectetur culpa ducimus eum fuga fugiat, ipsa iusto, modi nostrum recusandae reiciendis saepe.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 col-lg-6">
        <div class="card">
          <div class="ribbon ribbon-top bg-red"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
          </div>
          <div class="card-body">
            <h3 class="card-title">Doctors</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at consectetur culpa ducimus eum fuga fugiat, ipsa iusto, modi nostrum recusandae reiciendis saepe.</p>
          </div>
        </div>
      </div>
      
  </div>
</div>