<div class="container">
  <div class="row justify-content-md-center my-4">
      <div class="col col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class='display-6 mb-4'>All Payments</h1>
          </div>
          <div class="table-responsive">
            <table id="payment-datatable" class="table table-vcenter card-table table-striped text-nowrap center" data-source="<%= datatable_payments_path(format: :json) %>" style='width:100%;'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Appointment</th>
                  <th>Amount</th>
                  <th>Procedure</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>