<div class="container">
  <div class="row justify-content-md-center mt-4">
      <div class="col col-lg-10">
          <div class="card">
            <div class="card-body">
              <h1 class='display-6 mb-4'>Edit procedure <%=@procedure.name%></h1>
              <%= render 'form', procedure: @procedure %>
              
              <%= link_to show_timeslots_procedure_path(@procedure), class:'btn btn-primary d-none d-sm-inline-block my-4' do %>
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-record" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M21 12.3a9 9 0 1 0 -8.683 8.694"></path>
                  <path d="M12 7v5l2 2"></path>
                  <path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                </svg>
                <span> Edit timeslots</span>
              <% end %>
            </div>
          </div>
      </div>
  </div>
</div>