<div class="container">
  <div class="row justify-content-md-center mt-4">
      <div class="col col-lg-12">
        <div class="card">
          <div class="card-body">
            <h1 class='display-6 mb-4'>All Procedures</h1>
          </div>
          <div class="table-responsive">
            <table id="procedure-datatable" class="table table-vcenter card-table table-striped text-nowrap center" data-source="<%= datatable_procedures_path(format: :json) %>" style='width:100%;'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Cost</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @procedures.each do |procedure| %>
                  <tr>
                    <td><%=procedure.name %> </td>
                    <td><%=procedure.procedure_type %> </td>
                    <td><%=procedure.cost %> </td>
                    <td class="text-end">
                      <span class="dropdown">
                        <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#">
                            Action
                          </a>
                          <a class="dropdown-item" href="#">
                            Another action
                          </a>
                        </div>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>