<div class="container">
  <div class="row justify-content-md-center my-4">
    <div class="col col-lg-10">
      <h1 class='display-6 mb-4'>Create a procedure</h1>
      
      <%= render 'procedures/form' %>

    </div>
  </div>
</div>