<div class="container">
  <div class="row justify-content-md-center my-4">
    <div class="col col-lg-12">
      <div class="card">
        <div class="card-body">
            <%= render 'shared/page_header', pre_title: "Manage procedure", title: "Adding procedure", back_action: procedures_path %>
          
          <%= render 'procedures/form' %>
        </div>
      </div>
    </div>
  </div>
</div>